node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Data files
/data/
/data-processing/data/*
/data/*
data-processing/data/627674.ap
data-processing/data/full-627674.csv

# Log files
*.log

